<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.codex.mission-control.notifier</string>

  <key>ProgramArguments</key>
  <array>
    <string>__NODE_PATH__</string>
    <string>__MISSION_CONTROL_RUNTIME__/src/mission-control-notifier.js</string>
    <string>--watch</string>
    <string>--interval</string>
    <string>10</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__MISSION_CONTROL_REPO__</string>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>ThrottleInterval</key>
  <integer>10</integer>

  <key>StandardOutPath</key>
  <string>__LOG_DIR__/notifier.log</string>

  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/notifier.err.log</string>
</dict>
</plist>
